@import url(./links.css);
@import url(./panels.css);
@import url(./Pallet.css);

@font-face {
    font-family: Digital-7;
    src: url(../fonts/digital-7.ttf);
}

@media (prefers-color-scheme:light) {
    .drop-btn img:active {
        content: url(../assets/menu1.svg);
    }

    .links-a img,
    .links-ab img {
        filter: invert(0);
    }
}

@media (prefers-color-scheme:dark) {
    .drop-btn img:active {
        content: url(../assets/menu2.svg);
    }

    .links-a img,
    .links-ab img {
        filter: invert();
    }
}

/* Body */
body {
    background: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: auto;
    max-height: none;
    transition: background-image 2s ease-in-out;
    padding: 0;
    margin: 0;
    overflow: hidden;
    /* overflow-y: auto; */
    box-sizing: border-box;
}

.inf-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    width: 50%;
    z-index: 1001;
    background: var(--accent-h);
    backdrop-filter: var(--panel-bkdrop);
    bottom: 5px;
    transform: translateX(50%);
    margin: auto;
    font-size: 1.2rem;
    border-radius: 15px;
    z-index: 0;
}

.inf-navbar div a {
    color: var(--text);
    text-decoration: none;
    margin: 8px;
}

/* Branding */
.branding {
    position: fixed;
    top: 0;
    color: var(--accent);
    background: var(--transulent-bg);
    backdrop-filter: blur(5px);
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    padding-left: 5px;
    border-left: 2px solid var(--red);
    width: fit-content;
    animation: ani0 3s ease-in-out forwards;
}

.branding span {
    color: var(--white);
    text-transform: capitalize;
}

@keyframes ani0 {
    0% {
        transform: translateX(-100%);
        scale: 0.5;
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        scale: 1;
        opacity: 1;
    }
}

/* Time SideShow Display */
.Time-SideShow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 0 0;
}

.date-time {
    background: var(--transulent-bg);
    backdrop-filter: blur(12px);
    color: var(--text);
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
    width: fit-content;
    cursor: default;
    animation: ani1 3s ease-in-out forwards;
}

@keyframes ani1 {
    0% {
        transform: translateY(-100%);
        scale: .5;
        opacity: 0
    }

    100% {
        transform: translateY(0%);
        scale: 1;
        opacity: 1
    }
}

.uptime {
    font-size: 18px;
    text-align: end;
    width: fit-content;
    margin-left: auto;
    text-decoration-line: underline;
}

.time {
    display: flex;
    flex-direction: row;
    font-size: 6rem;
    height: 80px;
    text-align: justify;
    align-items: center;
}

.blink-colon {
    font-size: 6rem;
    position: absolute;
    top: 0px;
    left: 103px;
    font-family: emoji;
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.time-sec-ampm {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.6rem;
}

.day-date {
    display: flex;
    align-items: center;
}

.day-date p {
    margin: 0;
    font-size: 2.4rem;
    text-decoration-line: underline;
}

.day-date sup {
    font-size: 1.4rem;
    text-transform: uppercase;
    backdrop-filter: invert(1);
}

.slideshow-container {
    width: 300px;
    max-width: 300px;
    border-top: 5px double var(--red);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: var(--transulent-bg);
    backdrop-filter: blur(5px);
    padding: 2px;
    margin: 0 auto 20px auto;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
    height: auto;
}

/* Slide Show */
.fade {
    animation: trans 2s ease-in-out
}

.slide-rtl {
    animation: slideR 2s ease-in-out
}

.slide-ltr {
    animation: slideL 2s ease-in-out
}

.slide-utd {
    animation: slideU 2s ease-in-out
}

.slide-dtu {
    animation: slideD 2s ease-in-out
}

.zoom-i {
    animation: zoomIn 2s ease-in-out
}

.zoom-o {
    animation: zoomOut 2s ease-in-out
}

@keyframes trans {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes slideR {
    0% {
        transform: translateX(100%)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes slideL {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes slideU {
    0% {
        transform: translateY(100%)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes slideD {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(.5)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.5)
    }

    100% {
        transform: scale(1)
    }
}

/* Search Box */
.search-box {
    display: flex;
    position: relative;
    align-items: center;
    height: 50px;
    max-width: 850px;
    width: 65%;
    min-width: 40%;
    margin: auto;
    background: var(--transulent-bg);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    background-image: url(../assets/search.svg);
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0px 5px;
    box-shadow: var(--shadow-o);
    animation: ani2 3s ease-in-out forwards;
}

.search-box:hover {
    outline: 2px solid #ffffff88;
}

@keyframes ani2 {
    0% {
        transform: scaleX(0%);
        opacity: 0.5;
    }

    100% {
        transform: scaleX(100%);
        opacity: 1;
    }
}

.search-box input {
    border: none;
    font-size: 20px;
    color: var(--white);
    width: 100%;
    height: 100%;
    margin-left: 50px;
    background: #ffffff00;
    outline: none;
    padding: 0;
}

.search-box input::-webkit-input-placeholder,
.send-area input::-webkit-input-placeholder {
    color: #ffffff88;
    line-height: 100%;
}

.drop-btn {
    height: inherit;
    width: 50px;
    background: transparent;
    border: none;
    margin: auto;
    margin-right: 5px;
}

.drop-btn img {
    height: inherit;
    content: url(../assets/menu.svg);
}


.search-btn {
    border: none;
    background: none;
    height: inherit;
}

.search-btn img {
    height: 40px;
    width: 40px;
    margin: auto;
    display: block;
}

.search-btn img:hover {
    transform: translateY(-5px);
}

/* Tiop 4 Links */
.links-container {
    display: flex;
    width: fit-content;
    position: relative;
    min-height: 50px;
    margin: auto;
    gap: 15px;
    margin-top: 10px;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.links-btn,
.more-shortcuts {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background: none;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 50px;
    padding: 0;
}

.links-btn img,
.more-shortcuts img {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

.links-btn img:hover,
.more-shortcuts img:hover {
    transform: translateY(5px);
    border-radius: 10px;
}

.links-content,
.links-content-b {
    position: relative;
    width: 50px;
    height: 50px;
}

.links-dropdown {
    display: none;
    position: absolute;
    background: var(--transulent-bg);
    backdrop-filter: blur(5px);
    min-width: 130px;
    left: -40px;
    border-radius: 6px;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.links-a,
.links-ab {
    color: var(--text);
    padding:5px;
    white-space: nowrap;
    text-decoration: none;
    display: block;
    text-align: left;
}


.links-dropdown a:hover {
    background-color: var(--gray-mid);
}

.links-content:hover .links-dropdown {
    display: block;
}

/* Popup Buttons */
.float-btnL {
    right: auto;
    left: 5px;
}

.float-btnL,
.float-btnR {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 5px;
    bottom: 5px;
    width: fit-content;
    animation: float-btn 6s ease-in-out infinite;
}


.info-btn,
.calc-btn,
.todo-btn,
.mri-btn,
.ico-btn,
.cal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    margin-left: 5px;
    background: var(--transulent-bg);
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.float-btnL button:hover,
.float-btnR button:hover {
    background-color: var(--accent-h);
}

@keyframes float-btn {
    0% {
        transform: translatey(0)
    }

    50% {
        transform: translatey(-20%)
    }

    100% {
        transform: trans000lateY(0)
    }
}

.calc-btn img,
.mri-btn img {
    height: 40px;
}

.info-btn img,
.todo-btn img,
.ico-btn img {
    height: 50px;
}

.cal-btn img {
    height: 35px;
}

.info-btn img:hover {
    content: url(../assets/info1.svg);
}

.calc-btn img:active {
    content: url(../assets/calc1.png);
}

.info-btn img:hover,
.calc-btn img:hover,
.todo-btn img:hover,
.mri-btn img:hover,
.ico-btn img:hover,
.cal-btn img:hover {
    position: relative;
}

/* alert Boxes */

.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.alert-box,
.reminder-box,
.delete-box {
    position: fixed;
    top: 15rem;
    right: 50%;
    transform: translatex(50%);
    border: 1px solid var(--border);
    background: var(--alert-bg);
    backdrop-filter: blur(12px);
    border-radius: 10px;
    box-shadow: var(--shadow-o);
    z-index: 1001;
    padding-bottom: 10px;
    text-align: center;
    max-width: 400px;
    width: 70%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fade2 1s ease-out;
}

.alert-box:hover,
.reminder-box:hover,
.delete-box:hover {
    box-shadow: var(--shadow-h);
}

.alert-box,
.delete-box,
.reminder-box.hidden {
    display: none;
}

.alert-box {
    right: 25%;
}

.reminder-box {
    left: -10%;
}

@keyframes fade2 {
    0% {
        opacity: 0;
        transform: scale(.5),translateX(50%);
        top: 13rem;
    }
    100% {
        opacity: 1;
        transform: scale(1),translateX(50%);


    }
}

.alert-box-heading {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    margin: auto;
    padding: 2px;
    font-size: 20px;
    font-weight: 700;
    background: var(--alert-heading-bg);
    color: var(--alert-heading);
    width: auto;
}

.alert-box-content p,
.delete-box-content p {
    margin: 10px 5px 20px 5px;
    font-size: 1.1em;
    line-height: 1.5;
    color: var(--text);
    max-height: 75px;
    overflow: clip auto;
}

.alert-box button,
.reminder-box button {
    background: var(--accent);
    color: var(--text);
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.2s ease-out;
    margin: 0 0 5px 0;
}

.alert-box button:hover,
.reminder-box button:hover {
    background: var(--accent-h);
    border: none;
}

.delete-box-action {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.delete-box-action button {
    width: -webkit-fill-available;
    background: var(--bg);
    color: var(--text);
    padding: 10px 12px;
    margin: 0 10px 0 10px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.delete-box-action button:hover {
    background-color: var(--gray-mid);
}

.delete-box-action .danger {
    background: var(--accent);
    color: var(--text);
}

.delete-box-action .danger.single {
    width: 150px;
}

.delete-box-action .danger:hover {
    background: var(--accent-h);
}

/* ______________________________________________________________________ */

/* Media Queries for Mobile and Tablet responsiveness */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .blink-colon {
        font-size: 5rem;
        top: 5px;
        left: 88px;
    }

    .time {
        font-size: 5rem;
        height: 70px;
    }

    .time-sec-ampm {
        font-size: 2rem;
    }

    .day-date p {
        font-size: 2rem;
    }

    .day-date sup {
        font-size: 1.2rem;

    }

    .slideshow-container {
        width: 90%;
        max-width: 250px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .search-box {
        width: 80%;
        height: 50px;
    }

    .drop-btn {
        width: 50px;
    }

    .links-container {
        height: 38px;
        width: fit-content;
    }

    .pop-links {
        right: 50%;
        max-width: 450px;
        width: 90%;
    }

    .link-grid {
        gap: 8px;
    }

    .todo-pan {
        width: 280px;
    }

    .brand-bar {
        top: auto;
        bottom: 10px;
    }

    .list-t {
        width: 230px;
    }

    .info-btn,
    .calc-btn,
    .todo-btn,
    .mri-btn,
    .ico-btn,
    .cal-btn {
        height: 40px;
        width: 40px;
        bottom: 5px;
    }

    /* .info-btn img {}
    .calc-btn img {}
    .todo-btn img {} */
    .mri-btn img {
        height: 30px;
    }

    .ico-btn img {
        height: 38px;
    }

    .cal-btn img {
        height: 28px;
    }
}

@media (max-width: 480px) {
    .inf-navbar {
        width: -webkit-fill-available;
        bottom: auto;
        top: 5px;
        transform: none;
    }

    .inf-navbar div {
        display: flex;
        flex-direction: row;
    }

    .inf-navbar div a {
        width: 60px;
        text-overflow: ellipsis;
        text-wrap-mode: nowrap;
        overflow: clip;
        font-size: 1rem;
        margin: 7px;
    }

    .header {
        justify-content: center;
        flex-direction: flex-start;
    }

    .date-time {
        display: none;
    }

    .slideshow-container {
        width: 95%;
    }

    .search-box {
        width: 90%;
        height: 40px;
    }

    .search-box input {
        font-size: 1.2rem;
    }

    .drop-btn {
        width: 40px;
        margin-right: 3;
    }

    .search-btn img {
        height: 33px;
        width: 33px;
        margin: -1px;
    }

    .links-container {
        height: 35px;
        width: fit-content;
        gap: 10px;
        margin-top: 5px;
    }

    .pop-links {
        right: 50%;
        max-width: 352px;
        width: 85%;
    }

    .links-content {
        height: 35px;
        width: 35px;
    }

    .links-btn,
    .more-shortcuts {
        height: 35px;
        width: 35px;
    }

    .links-btn img,
    .more-shortcuts img {
        width: 35px;
        height: 35px;
        border-radius: 7px;
    }

    .todo-pan {
        display: none;
    }

    .branding {
        display: none;
    }

    .float-btnL,
    .float-btnR {
        flex-direction: column;
    }

    @keyframes float-btn {
        0% {
            transform: translateY(0%);
        }

        50% {
            transform: translateY(-10%);
        }

        100% {
            transform: translateY(0%);
        }
    }

    .info-btn,
    .calc-btn,
    .todo-btn,
    .mri-btn,
    .ico-btn,
    .cal-btn {
        height: 45px;
        width: 45px;
        margin-top: 3px;
    }

    /* .info-btn img {}
    .calc-btn img {}
    .todo-btn img {} */
    .mri-btn img {
        height: 35px;
    }

    .ico-btn img {
        height: 45px;
    }

    .cal-btn img {
        height: 30px;
    }
}