@import url(./links.css);
@import url(./panels.css);

/* Body */
body {
    background: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: auto;
    max-height: none;
    transition: background-image 2s ease-in-out;
    padding: 0;
    margin: 0;
    overflow: hidden;
    /* overflow-y: auto; */
    box-sizing: border-box;
}
/* Branding */
.branding {
    position: fixed;
    top: 0;
    color: #f44234;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    padding-left: 5px;
    border-left: 2px solid red;
    width: fit-content;
    animation: ani0 3s ease-in-out forwards;
}
.branding span {
    color: #fff;
    text-transform:capitalize;
}
@keyframes ani0 {
   0%{ transform: translateX(-100%);scale: 0.5; opacity: 0;}
   100%{transform: translateX(0%);scale: 1; opacity: 1;}
}
/* alert Boxes */

.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 10%);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.alert-box, .reminder-box, .delete-box {
    position: fixed;
    top: 20%;
    right: 50%;
    transform: translate(50%, 50%);
    background: #00000099;
    border-radius: 10px;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 30%);
    z-index: 101;
    padding-bottom: 10px;
    text-align: center;
    max-width: 400px;
    width: 70%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    animation: fade2 1s ease-out;
}
.alert-box, .delete-box, .reminder-box.hidden {
    display: none;
}
@keyframes fade2 {
    0% { opacity: 0; transform: translate(50%, 30%); }
    100% { opacity: 1; transform: translate(50%, 50%); }
}
.alert-box-heading {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    margin: auto;
    padding: 2px;
    font-size: 20px;
    font-weight: 700;
    background: #fdfdfdfd;
    width: auto;
    box-shadow: 0px 6px 16px -1px rgb(0 0 0 / 25%);
}
.alert-box-content p, .delete-box-content p {
    margin:10px 5px 20px 5px;
    font-size: 1.1em;
    line-height: 1.5;
    color: #fff;
}
.alert-box button, .reminder-box button  {
    background: #f44234;
    color: #fff;
    padding:8px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.2s ease-out;
    margin: 0 0 5px 0;
}
.delete-box-action {
    display: flex;
    flex-direction: row-reverse;
}
.delete-box-action button {
    width: -webkit-fill-available;
    padding: 10px 12px;
    margin: 0 10px 0 10px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.alert-box button:hover {
    background: #752020;
    border: none;
}
/* Time SideShow Display */
.Time-SideShow {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 100px 0 0 0;
}
.date-time {
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
    width: fit-content;
    cursor: default;
    animation: ani1 3s ease-in-out forwards;
}
@keyframes ani1 {
   0%{ transform: translateY(-100%);scale: 0.5; opacity: 0;}
   100%{transform: translateY(0%);scale: 1; opacity: 1;}
}
.uptime {
    font-size: 18px;
    text-align: end;
    width: fit-content;
    margin-left: auto;
    text-decoration-line:underline;
}
.time{
    font-size: 50px;
    text-align: justify;
    text-decoration-line:underline;
}
.day-date {
    display: flex;
    align-items: center;
}
.day-date p {
    margin: 0;
    font-size: 25px;
    text-decoration-line:underline;
}
.slideshow-container {
    width: 300px;
    max-width: 300px;
    border-top: 5px double #f00;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #7d7d7d33;
    padding: 2px;
    margin:0 auto 20px auto;
    overflow: hidden;
}
.slide {
    display: none;
    width: 100%;
    height: auto;
}
/* Slide Show */
.fade { animation: trans 2s ease-in-out; }
.slide-rtl {animation: slideR 2s ease-in-out; }
.slide-ltr { animation: slideL 2s ease-in-out; }
.slide-utd { animation: slideU 2s ease-in-out; }
.slide-dtu { animation: slideD 2s ease-in-out; }
.zoom-i { animation: zoomIn 2s ease-in-out; }
.zoom-o {animation: zoomOut 2s ease-in-out; }

@keyframes trans {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes slideR {
   0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes slideL { 
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}
@keyframes slideU {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0); }
}
@keyframes slideD {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}
@keyframes zoomIn {
    0% { transform: scale(0.5); }
    100% { transform: scale(1); }
}
@keyframes zoomOut {
    0% { transform: scale(1.5); }
    100% { transform: scale(1); }
}
/* Search Box */
.search-box {
    display: flex;
    position: relative;
    align-items: center;
    height: 50px;
    max-width: 850px;
    width: 65%;
    min-width: 40%;
    margin: auto;
    background: #ffffff33;
    border-radius: 10px;
    background-image: url(/src/assets/search.svg);
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0px 5px;
    box-shadow:0px 0px 10px 8px rgb(0 0 0 / 10%);
    animation: ani2 3s ease-in-out forwards;
}
.search-box:hover{outline: 2px solid #ffffff;}
@keyframes ani2 {
   0%{ transform:scaleX(0%); opacity: 0.5;}
   100%{transform: scaleX(100%); opacity: 1;}
}
.search-box input {
    border: none;
    font-size: 20px;
    color: #ffffff;
    width: 100%;
    height: 100%;
    margin-left: 50px;
    background: #ffffff00;
    outline: none;
    padding: 0;
}
.search-box input::-webkit-input-placeholder, .send-area input::-webkit-input-placeholder{
    color: #fff;
    line-height:100%;
}
.drop-btn {
    height: inherit;
    width: 50px;
    background: transparent;
    border: none;
    margin: auto;
    margin-right: 5px;
}
.drop-btn img {
    height: inherit;
}
.drop-btn:hover img:active {
    content: url(/src/assets/menu.png);
}
.search-btn {
    border: none;
    background: none;
    height: inherit;
}
.search-btn img {
    height: 40px;
    width: 40px;
    margin: auto;
    display: block;
}
.search-btn img:hover {
    height: 45px;
    width: 45px;
    transform:translateY(-5px);
    margin-bottom: 5px;
    cursor: pointer;
}
/* Tiop 4 Links */
.links-container {    
    display: flex;
    width: fit-content;
    position: relative;
    min-height: 50px;
    margin: auto;
    gap: 15px;
    margin-top: 10px;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.links-btn,.more-shortcuts{
    display: flex;
    align-items: center;
    justify-content:center;
    background: none;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 50px;
}
.links-btn {
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
}
.links-btn img, .more-shortcuts img {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}
.links-btn img:hover, .more-shortcuts img:hover {
    transform: translateY(5px);
    border-radius: 10px;
}
.links-content, .links-content-b {
  position: relative;
  width: 50px;
  height: 50px;
}
.links-dropdown {
    display:none;
    position: absolute;
    background-color: #00000099;
    min-width: 130px;
    left: -40px;
    border-radius: 6px;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.2);
    z-index: 99;
}
.links-a, .links-ab {
    color: #fff;
    padding: 10px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.links-a img, .links-ab img {
    filter: invert();
}
.links-dropdown a:hover {background-color: #7d7d7d33;}

.links-content:hover .links-dropdown {display: block;}

/* Popup Buttons */
.float-btnL {
    right: auto;
    left: 5px;
}
.float-btnL, .float-btnR {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 5px;
    bottom: 5px;
    width: fit-content;
   animation: float-btn 6s ease-in-out infinite;
}
.float-btnL button:hover, .float-btnR button:hover {
    background-color: #7a404065;
}
.info-btn, .calc-btn, .todo-btn, .mri-btn, .ico-btn, .cal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    margin-left:5px;
    background: #7d7d7d33;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 77;
}
@keyframes float-btn {
    0% { transform: translatey(0); }
    50% { transform: translatey(-20%); }
    100% { transform: trans000lateY(0); }
}
.calc-btn img, .mri-btn img { height: 40px; }
.info-btn img,.todo-btn img, .ico-btn img { height: 50px; }
.cal-btn img { height: 35px; }

.info-btn img:hover {content:url(/src/assets/info1.svg);}
.calc-btn img:active {content: url(/src/assets/calc1.png);}

.info-btn img:hover, .calc-btn img:hover, .todo-btn img:hover, .mri-btn img:hover, .ico-btn img:hover, .cal-btn img:hover { position: relative; }

/* ---------------Info-Page-Style-------------------- */

.main-inf {
  position: absolute;
  z-index: 9;
  margin: 20px auto;
}
.inf {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #7d7d7d33;
    margin: auto;
    overflow: hidden;
    overflow-y: auto;
}

.inf-div {
    position: relative;
    width: 100%;
    color: #ffffff;
    margin: 5px;
    border-radius: 10px;
}
.inf-div-bg {
    height: auto;
    background: #000000cc;
    border-radius: 10px;
    padding: 20px 0;
}
.inf-div h2 {
    text-align: left;
    margin: auto;
    font-size: 30px;
    padding: 5px 10px;
}
.inf-div-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    margin: 20px auto;
    animation: ani3 6s ease-in-out infinite;
}
@keyframes ani3 {
    0%{transform:translateY(0);}
    50%{transform: translateY(-15px);}
    100%{transform: translateY(0);}
}
.Profile, .Profile-Name {
    animation: ani4 2s ease-in-out;
}
@keyframes ani4 {
    0%{opacity:0 ;}
    100%{opacity: 1;}
}
.Profile {
    background: #ffffff66;
    height: 150px;
    width: 150px;
    border-radius: 25px;
    cursor:grab;
}
.Profile-Name {
    height: auto;
    width: 150px;
    margin: 5px auto;
    overflow: hidden;
    border-radius: 5px;
    background: #83838366;
    cursor: grab;
}
.Profile:hover{
    animation: ani5 2s linear;
}
@keyframes ani5 {
    0%{rotate:0deg;scale:1;}
    100%{rotate: 360deg;scale:0;}
}
.Profile-Name:hover {
    height: auto;
    width: 200px;
    content: url(/src/assets/founderofMRC&D.png);
    animation: ani6 1s linear;
}
@keyframes ani6 {
    0%{transform:scale(2); opacity: .5;}
    100%{transform:scale(1);opacity: 1;}
}
.inf-div-profile h1:hover {
    width: fit-content;
}
.inf-div-links {
    display: inline-flex;
    height: fit-content;
    width: fit-content;
    padding: 3px 10px 0 10px;
    margin: auto;
    border-radius: 10px;
}
.inf-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: transparent;
    text-decoration: none;
    margin: 0 10px;
}
.inf-links:hover, .inf-links img:hover {
    color: #fff;
    height: 55px;
    width: 55px;
    transform: translateY(-5px);
}
.inf-links img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
.inf-desc {
    border-radius: 15px;
    margin: 20px auto;
    padding: 10px 5px;
    color: #ffffff;
}
.inf-desc h1 {
    text-align: left;
    margin: auto;
    font-size: 25px;
    text-decoration:auto;
}
.inf-desc p {
    text-align: center;
    margin: 15px auto;
    text-wrap-mode: wrap;
    font-size: 20px;
}
.inf-desc-ul {
    list-style-type: circle;
    text-align: left;
    font-size: 16px;
    color: #fff;
}
.inf-desc-ul li{
    background: transparent;
    margin: 0;
    margin-top: 5px;
    padding: 5px;
    width: auto;
    border-radius: 0;
    justify-content: space-between;
    box-shadow: none;
}
.inf-mr {
    width:370px;
    border-radius: 15px;
    padding: 6px;
    margin: auto;
    background: #83838366;
    overflow: hidden;
    cursor: grab;
}
.c {border: 2px double #f003;}.d{    border: 2px double #0883;}
.c-img, .d-img {
    width: 100%;
}
.c-img:hover, .d-img:hover {
    animation:ani7 2s cubic-bezier(0, 0, 0.2, 1);
}
@keyframes ani7 {
    0%{opacity:.5;scale: 1.5;}
    10%{opacity:1;scale: 1.5;}
    20%{opacity:.5;scale: 2;}
    30%{opacity:1;scale: 1;}
    40%{opacity:.5;scale: .5;}
    50%{opacity:1;scale: .5;}
    60%{opacity:.5;scale: 1.1;}
    70%{opacity:1;}
    80%{opacity:.5;}
    90%{opacity:0;}
    100%{opacity:.5;scale: 0;}
}
.summary {
    text-align: left;
    font-size: 18px;
    margin: 5px auto;
    padding: 5px;
}
/* .changelog {

} */
.changelog summary {
    padding: 10px 0 0 20px;
}
.changelog li {
    list-style-type: disc;
    list-style-position: outside;
    background: transparent;
    font-weight: 100;
    box-shadow: none;
    padding: 5px 0 0 5px;
    margin: 0;
    width: fit-content;
    border-radius: 0%;
}
/* ______________________________________________________________________ */
@media (max-width:860px) {
    .uptime {font-size: 14px;} .time {font-size: 40px;} .day-date p {font-size: 20px;}
    .slideshow-container {
        width: 250px;
        border-bottom-left-radius:20px;
        border-bottom-right-radius: 20px;
    }
    .search-box {
        height: 40px;
    }
    .drop-btn {
        width: 40px;
    }
    .links-container {
        height: 45px;
        width: fit-content;
    }
    .links img, .link-pop img  {
        border-radius: 12px;
    }
    .links img:hover, .link-pop img:hover {
        border-radius: 9px;
    }
    .pop-links {
      right: 50%;
    }
    
}
/* Media Queries for Mobile and Tablet responsiveness */
@media screen and (max-width: 768px) {
    .header {
        flex-direction:column;
    }
    .time {font-size: 35px;} .day-date p {font-size: 16px;}
    .slideshow-container {
        width: 90%; 
        max-width: 200px; 
        border-bottom-left-radius:15px;
        border-bottom-right-radius: 15px;
    }
    .search-box {
        width: 80%; 
        height: 40px;
    }
    .links-container {
        height: 38px;
        width: fit-content;
    }
    .pop-links {
      right:50%;
      max-width:450px;
      width: 90%;
    }
    .link-grid {
        gap: 8px;
    }
    .todo-pan {
        width: 280px;
    }
    .brand-bar {
        top: auto;
        bottom: 10px;
    }
    .list-t  {
        width: 230px;
    }

    .info-btn, .calc-btn, .todo-btn, .mri-btn, .ico-btn, .cal-btn {
        height: 40px; 
        width: 40px;
        bottom: 5px; 
    }
    /* .info-btn img {}
    .calc-btn img {}
    .todo-btn img {} */
    .mri-btn img { height: 30px; }
    .ico-btn img { height: 38px; }
    .cal-btn img { height: 28px; }
}
/* ---------------Info-Page-Style-------------------- */
    /* .main-inf {
        flex-direction: column;
    }
    .inf {
        width: auto;
        height:33.3%;
    } */
/* Even smaller adjustments for very small phones */
@media (max-width: 480px) {

    .header {
      justify-content: center;
      flex-direction: flex-start;
    }
    .date-time{
      display: none;
    }
    .slideshow-container {
        width: 95%;
    }
    .search-box {
        width: 90%;
    }
    .search-box input {
      font-size: 15px;
    }
    .links-container {
        height: 35px;
        width: fit-content;
    }
    .pop-links {
      right: 50%;
      max-width: 352px;
      width: 75%;
    }
    .todo-pan {
      display:none;
    }
    .branding {
        display: none;
    }
    .float-btnL, .float-btnR {
        flex-direction: column-reverse;
    }
    @keyframes float-btn {
        0%{transform: translateY(0%);}
        50%{transform: translateY(-10%);} 
        100%{transform: translateY(0%);} 
    }
    .info-btn, .calc-btn, .todo-btn, .mri-btn, .ico-btn, .cal-btn {
        height: 45px; 
        width: 45px;
        margin-top:3px;
    }
    /* .info-btn img {}
    .calc-btn img {}
    .todo-btn img {} */
    .mri-btn img { height: 35px; }
    .ico-btn img { height: 45px; }
    .cal-btn img { height: 30px; }
}