
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 10%);
}
.left-panel {
    display: none;
    flex-direction: column;
    position: fixed;
    bottom: 5px;
    left: 0px;
    width: 400px;
    height: 92%;
    background: #7d7d7d33;
    border-radius: 10px;
    z-index: 100;
    box-shadow: 0 0 10px 8px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    transform: translate(0, 0);
    animation: pop0 2s ease-in-out;
}
@keyframes pop0 {
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0);}
}
.right-panel {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 0px;
    width: 400px;
    height: 100%;
    background: #7d7d7d33;
    border-radius: 10px;
    z-index: 100;
    box-shadow: 0 0 10px 8px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    transform: translate(0, 0);
    animation: pop1 2s ease-in-out;
}
@keyframes pop1 {
    0% {opacity: .5;transform: translateX(100%);}
    100%{opacity: 1;transform: translateX(0%);}
}
.panel-header {
    display: flex;
    flex-direction: row;
    height: 70px;
    background: #ffffff8c;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0 0 5px;
    align-items: center;
}
.panel-header img {
    height: 64px;
    width: 64px;
}
.panel-spons {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 10px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    flex-grow: 1; /* Allow panel-spons section to grow */
}
.panel-spons p {
    margin: 0;
    line-height: 1.2;
}
.panel-close, .cal-close {
    display: flex;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    background: #55cf0a;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 7px;
    top: 7px;
    rotate: 45deg;
    transition: all 0.2s ease;
}
.panel-close img, .cal-close img {
    height: 20px;
    width: 20px;
}
.panel-close:hover, .cal-close:hover {
    rotate: 0deg;
    height: 25px;
    width: 25px;
    top: 10px;
    right: 10px;
    background: #ff0000;
}
.panel-close img:hover, .cal-close img:hover {
    height: 25px;
    width: 25px;
}
hr {
    margin: 0;
}
/*______________________________________*/

/* Popup of search buttons */
.pop-search {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 100%;
    right: 0%;
    width: 50px;
    height: 220px;
    background: #ffffff33;
    border-radius: 10px;
    z-index: 100;
    box-shadow: 0 0 10px 8px rgb(0 0 0 / 20%);
    animation: pop2 1s ease-out;
}
@keyframes pop2 {
    0% { opacity: 0;transform: translateY(50%);}
    100% { opacity: 1;transform: translateY( 0%);}
}
/* Links Popup */
.pop-links {
    display:none;
    flex-direction: column;
    align-items: center;
    background: #7d7d7d33;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, 30%);
    z-index: 99;
    position: absolute;
    right:50%;
    transform: translate(50%, 0%);
    width: revert-layer;
    max-width: 630px;
    height: 250px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    animation: pop3 1s ease-out;
}
@keyframes pop3 {
    0% { opacity: 0;transform: translate(50%, 50%);}
    100% { opacity: 1;transform: translate(50%, 0%);}
}
/* Info Popup */
.info-bar {
    display: none;
    justify-content: center;
    flex-direction: column;
    background: #ffffff22;
    padding: 3px 5px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    height: fit-content;
    width: fit-content;
    position: fixed;
    bottom: 50px;
    left: 10px;
    z-index: 100;
    box-shadow: 0 0 8px 10px #0000004d;
    animation: pop4 1s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
}
@keyframes pop4 {
    0% { opacity: 0;transform: translateY(50%);}
    100% { opacity: 1;transform: translateY( 0%);}
}
.info-bar-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    margin: 20px auto;
    animation: ani3 6s ease-in-out infinite;
}
.bar-Profile {
    background: #00000088;
    height: 130px;
    width: 130px;
    border-radius: 20px;
    cursor: grab;
}
.bar-Profile-Name {
    font-size: 22px;
    color: #fff;
    background: #00000099;
    width: fit-content;
    margin: 5px auto;
    padding: 2px 7px;
    border-radius: 10px;
}
.bar-Profile:hover {
    transform: scaleX(-1);
}
.info-bar a {
    color: #fff;
}
.info-bar a:hover {
    color: #f44234;
}
.info-bar-p {
    color: #ffffff;
    margin: 3px 5px;
    position: relative;
    text-align: left;
    width: -webkit-fill-available;
}
.info-bar-p a {
    position: absolute;
    right: 0;
    top: -6px;
    display: flex;
    align-items: center;
}
.info-bar-p a::after {
    content: url(assets/Links/openin.svg);
    filter:invert()
}
.info-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.links {
    height: 50px;
    width: 50px;
}
.links img {
    height: 45px;
    width: 45px;
    border-radius: 10px;
}
.terms {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #000000;
    margin: 3px 0;
}
/* --------------------------------- */
.todo-tools-cont {
  margin: 10px;
}
.panel-header h1 {
  font-size: 20px;
  text-align: center;
  margin: auto 10px;
}
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
  gap: 5px;
}

.toolbar button {
    padding: 5px;
    cursor: pointer;
    border:none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background: white;
    height: 30px;
    width: 30px;
    border-radius: 8px;
}
.toolbar button:hover {
        background: #808080;
}
.toolbar button:active {
        background: #f44234;
}
.todo-addbar {
    display: flex;
    align-items: start;
    justify-content: center;
    width: auto;
    height: auto;
}
.todo-inputbar {
     width: 100%;
     max-width:320px;
    min-height: 65px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    outline: none;
    text-align: left;
    background: white;
    border-radius: 10px;
}
.todo-inputbar:empty:before {
  content: attr(placeholder);
  color: #000000;
}
.todo-inputbar img {
    width: 64px;
    border-radius: 10px;
}
.fontSelect {
  border-radius: 10px;
  height: 30px;
  width: fit-content;
}
.fontSize {
    height: 26px;
    width: fit-content;
    border-radius: 10px;
    outline: none;
    border: none;
}
.reminder-input {
    width: 40px;
    height: 40px;
    font-size: 36px;
    margin-bottom: 5px;
    outline: none;
    border: none;
    border-radius: 10px;
}
.reminder-input:active {
    background: #55cf0a;
}
.todo-add-btn {
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    background: #89cf5e;
    border-radius: 100%;
    cursor: pointer;
    border: none;
}
.todo-add-btn:hover {
    animation: aniADD 0.25s linear forwards;
}
@keyframes aniADD {
    0% {rotate: 0;}
    100%{rotate: 360deg;}  
}
.todo-add-btn:active {
    background: #55cf0a;
}
.todo-tools-cont h3 {
    font-size: 20px;
    color: #fff;
    background: #0009;
    width: fit-content;
    border-radius: 5px;
    margin: auto;
    padding: 3px;
}

.todo-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.todo-list li {
    display: flex;
    flex-direction: column;
    background: white;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
}
.ctrl-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: #9b9b9b;
    padding: 0 10px 0 10px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.task-index {
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    margin: auto;
    margin-left: 0;
    padding: 5px;
}

.morph-checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid #777;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  transition: all 0.25s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.morph-checkbox::after {
    content: "\1F5F8";
    width: 10px;
    height: 10px;
    border-radius: 3px;
    transform: scale(0);
    transition: all 0.3s linear;
}

.morph-checkbox.checked {
    transform: scale(1.1);
    border: none;
    align-self: start;
    color: #00ff00;
    font-weight: 500;
}

.morph-checkbox.checked::after {
  transform: scale(2);
  background: transparent;
}

.delete-btn {
    height: 20px;
    width: 20px;
    background: #ff0000;
    background-image: url(/main/src/assets/dlt.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}
.delete-btn:hover {
    background: #cc0000;
   background-image: url(/main/src/assets/dlt2.svg);
   background-size: cover;
}

.todo-item-content {
    display: block;
    margin-top: 4px;
    text-wrap: wrap;
    overflow: auto;
    padding: 0 12px;
    transition: all 0.3s ease;
}
.todo-item-content img {
    width: 70px;
    border-radius: 12px;
}
.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.top p {
    margin:5px 0;
}
.added-on {
    font-weight: bolder;
}

/* ----------------------------------------------------- */
/* Media Queries for right-panels responsiveness */
@media (max-width: 768px) {

    /* right-panel */
    .left-panel {
        width: 90%;
        height: 80%;
        bottom: 5px;
        left: 40px;
    }

    .right-panel {
        width: 90%;
        height: 80%;
        bottom: 5px;
        right: 40px;
    }

    .panel-header {
        height: 60px;
    }

    .panel-header img {
        height: 50px;
        width: 50px;
    }

    .toolbar button {
        height: 50px;
        width: 50px;
        border-radius: 12px;
        font-size: 35px;
    }
    .fontSelect, .fontSize {
        height: 45px;
        width: fit-content;
        border-radius: 12px;
        font-size: 30px;
    }
    .todo-inputbar {
        max-width: -webkit-fill-available;
        font-size: 18px;    
    }
    .task-index {
        font-size: 20px;
    }
    .morph-checkbox {
        height: 20px;
        width: 20px;
        border-width:3px;
    }
    .delete-btn {
        height: 30PX;
        width: 30PX;
        background-size: contain;
    }
    .top {
        font-size: 20px;
    }
    .panel-close img {
        height: 20px;
        width: 20px;
    }
}

@media (max-width: 480px) {

    /* Further adjustments for very small screens */
    .left-panel,
    .right-panel {
        width: 100%;
        height: 96%;
        left: 0;
        right: 0;
    }

    .panel-header {
        height: 50px;
    }

    @keyframes pop0 {
        0% {
            transform: translateY(100%);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes pop1 {
        0% {
            transform: translateY(100%);
        }

        100% {
            transform: translateY(0);
        }
    }

    .panel-header img {
        height: 40px;
        width: 40px;
    }

    .panel-close img {
        width: 20px;
        height: 20px;
    }

    .panel-spons p {
        margin-bottom: 20px;
    }

    .pop-search {
        top: 35px;
        right: 0;
    }
}
